{% extends "base.html" %}

{% block content %}
<h2>Register</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <!-- Form group for the username input -->
    <div class="form-group">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        {% for error in form.username.errors %}
        <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    <!-- Form group for the password input -->
    <div class="form-group">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {% for error in form.password.errors %}
        <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    <div class="form-group">
        <!-- Form group for the password input -->
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control") }}
        {% for error in form.confirm_password.errors %}
        <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    <!-- Submit button to register a new user -->
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<!-- Link to navigate back to the login page -->
<a href="{{ url_for('login') }}" class="btn btn-link mt-3">Back to Login</a>
{% endblock %}